.header{
    font-size:5em;
    text-align: center;
    background-color: aqua;
    border-color: black;
    border-style: double;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: center;
}


.di-num{
    height:100px;
    width: 100px;
    font-size: 5em;
    display: inline;
    line-height: 0;
}

#num1{
    background-color: red;
}

#num2{
    background-color: darkgreen;
}

#num3{
    background-color: darkblue;
}

#num4{
    background-color: khaki;
}

#num5{
    background-color: lightblue;
}

#num6{
    background-color: aquamarine;
}

.prompt{

}