<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dice</title>
    <links th:replace="partials/links.html :: links" />
</head>
<body>
<h2  class="prompt">What do you think the number will be?</h2>
<form action="/roll-dice" method="post">
    <h2>Choose a number:</h2>
    <button id="num1" class="di-num" name="number" type="submit" value="1">1</button>
    <button id="num2" class="di-num" name="number" type="submit" value="2">2</button>
    <button id="num3" class="di-num" name="number" type="submit" value="3">3</button>
    <button id="num4" class="di-num" name="number" type="submit" value="4">4</button>
    <button id="num5" class="di-num" name="number" type="submit" value="5">5</button>
    <button id="num6" class="di-num" name="number" type="submit" value="6">6</button>
</form>
<scripts th:: replace="partials/scripts :: scripts"> </scripts>

</body>
</html>